@model Orchard.Roles.ViewModels.RolesIndexViewModel
@using Orchard.Roles.ViewModels;
@using Orchard.Roles.Models;
@{ 
    var index = 0;
}
<table class="table table-bordered table-condensed" 
       summary="@T("This is a table of the roles currently available for use in your application.")">
    <colgroup>
        <col id="Col1" />
        <col id="Col2" />
        <col id="Col3" />
    </colgroup>
    <thead>
        <tr>
            <th scope="col"><input type="checkbox" class="check-all" /></th>
            <th scope="col">@T("Name")</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var row in Model.Rows)
    {
        <tr>
            <td>
                <input type="hidden" value="@Model.Rows[index].Id" name="@Html.NameOf(m => m.Rows[index].Id)" />
                @if (row.Name != "Administrator")
                {
                    <input type="checkbox" value="true" name="@("Checkbox." + row.Id)" />
                }
            </td>
            <td>
                @Ajax.ActionLink(row.Name
               , "EditRole"
               , new { row.Id }
               , new AjaxOptions()
               {
                   OnComplete = "onCompleteEdit",
                   UpdateTargetId = "createContent"
               })
            </td>
            <td>
                @Ajax.ActionLink(T("Edit").ToString()
               , "EditRole"
               , new { row.Id }
               , new AjaxOptions()
               {
                   OnComplete = "onCompleteEdit",
                   UpdateTargetId = "createContent"
               })
                @if (row.Name != "Administrator")
                {
                    @T(" | ")
                    @Ajax.ActionLink(T("Delete").ToString()
                                   , "DeleteRole"
                                   , new { row.Id }
                                   , new AjaxOptions()
                                   {
                                       Confirm = T("Confirm delete it?").Text,
                                       OnComplete = "onCompleteDelete"
                                   })
                }
            </td>
        </tr>
        index++;
    }
</table>