@model ShowActivityTypeViewModel
@using Faurecia.ADL.ViewModels;
@{
    int i = 0;
}
<table class="table table-bordered table-condensed">
    <thead>
        <tr class="active">
            <th scope="col"></th>
            <th scope="col">@T("Activity Type")</th>
            <th scope="col">@T("Cost Center")</th>
            <th scope="col">@T("RMB Hour")</th>
            <th scope="col">@T("Comment")</th>
        </tr>
    </thead>
    @foreach (var row in Model.ActivityTypes)
    {
        <tr>
            <td>
                <input type="checkbox" value="@row.Id" name="@("Checkbox." + row.Id)" style="cursor:pointer"/>
                <input type="hidden" value="@Model.ActivityTypes[i].Id" name="@Html.NameOf(m => m.ActivityTypes[i].Id)" />
                <input type="hidden" value="@Model.ActivityTypes[i].DisplayGroup" name="@Html.NameOf(m => m.ActivityTypes[i].DisplayGroup)" />
                <input type="hidden" value="@Model.ActivityTypes[i].TotalGroup" name="@Html.NameOf(m => m.ActivityTypes[i].TotalGroup)" />
            </td>
            <td>@row.ActivityType</td>
            <td>@row.CostCenter</td>
            <td>@row.RMBHour</td>
            <td>@row.Comment</td>
        </tr>
        i++;
    }
</table>
<div style="margin:-30px 0">
    @Display(Model.Pager)
</div>