@model Faurecia.ADL.ViewModels.ADLViewModel
@using Faurecia.ADL.ViewModels;

@for (int i= 0;i < Model.Years.Count;i++)
{
    int index = 0;
    int currentYear = Model.Years[i];
    ADLDetailEntry entry = Model.Detail.Entries.SingleOrDefault(w => w.Year == currentYear);
    if (entry == null) { continue; }
    int entryIndex = Model.Detail.Entries.IndexOf(entry);
    string cssClassName = i==0? "tab-pane active" : "tab-pane";
    var tabName = string.Format("YEAR{0}", currentYear);
<div role="tabpanel" class="@cssClassName" id="@tabName" data-year="@currentYear">
    <!--HeadCounts-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px;margin-top:2px">
        <div class="row">
            <div class="col-sm-11 col-xs-11 col-lg-11">
                @T("HEAD COUNT")
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-right">
                <button type="button" class="btn btn-sm btn-warning glyphicon-collapse-down" data-toggle="collapse" data-target="#headCount_@currentYear" />
            </div>
        </div>
    </div>
    <div style="overflow:auto;font-size:12px" class="form-horizontal collapse in" id="headCount_@currentYear">
        <table class="table table-bordered table-condensed" id="detailHeadCount_@entryIndex"  name="HeadCount" data-entryIndex="@entryIndex">
            <thead>
                <tr class="active">
                    <th></th>
                    <th>@T("Comment")</th>
                    <th>@T("RMB/Hour")</th>
                    <th>@T("Cost Center")</th>
                    <th>@T("Type")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            <tr class="success">
                <td style="">
                    @Ajax.ActionLink("+", actionName: null
                                        , routeValues: null
                                        , ajaxOptions: new AjaxOptions()
                                        {
                                            HttpMethod = "GET",
                                            UpdateTargetId = "activityTypeContent",
                                            OnSuccess = "showActivityTypeModal",
                                            Url = Url.Action("ShowActivityTypeList", "Default",new { Area = "Faurecia.ADL", ADLRecordId = Model.Head.Id})
                                        }
                                        , htmlAttributes: new { @class= "btn btn-primary btn-sm" })
                </td>
                <td style=""></td>
                <td style=""></td>
                <td style=""></td>
                <td style=""></td>
                @for (int k = 1; k <= 12; k++)
                {
                    <td style="">
                        <button type="button" class="btn btn-sm btn-success" 
                                data-container="body" 
                                data-placement="top"
                                data-html="true"
                                data-trigger="manual"
                                data-toggle="popover" 
                                data-year="@currentYear"
                                data-month="@k"></button>
                    </td>
                }
                <td style=""></td>
            </tr>
            @foreach (var item in Model.Detail.Entries[entryIndex].HeadCounts)
            {
                <tr class="data">
                    <td style="">
                        @Ajax.ActionLink("-", actionName: null
                                        , routeValues: null
                                        , ajaxOptions: new AjaxOptions()
                                        {
                                            HttpMethod = "GET",
                                            OnSuccess="CompleteDeleteDetailRecord",
                                            Url = Url.Action("DeleteDetailRecord", "Default"
                                                    , new { Area = "Faurecia.ADL"
                                                            , ActivityTypeId = item.ActivityType.Id
                                                            , Year=currentYear
                                                            , ADLRecordId=Model.Head.Id
                                                            , EntryIndex=entryIndex})
                                        }
                                        , htmlAttributes: new { @class = "btn btn-warning btn-sm" })
                    </td>
                    <td style="">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Id" 
                                             name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].Year)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.Id,new { @data_index=index })
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.Comment)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.DisplayGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.TotalGroup)
                        @Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.Comment
                    </td>
                    <td style="">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.RMBHour)
                        @(Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.RMBHour)
                    </td>
                    <td style="">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.CostCenter)
                        @(Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.CostCenter)
                    </td>
                    <td style="">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.ActivityType)
                        @(Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.ActivityType)
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Jan" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Jan)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Feb" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Feb)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               data-valid="true"
                               data-val-length="The field Currency must be a string with a maximum length of 5."
                               data-val-required="The Customer field is required."
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Mar" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Mar)" />
                        <span class="field-validation-valid" data-valmsg-for="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Mar)" data-valmsg-replace="true"></span>
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Apr" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Apr)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].May" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].May)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Jun" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Jun)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Jul" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Jul)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Aug" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Aug)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Sep" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Sep)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Oct" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Oct)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Nov" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Nov)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Dev" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Dev)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Y1" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <!--HourRatios-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px;margin-top:2px;display:none">
        <div class="row">
            <div class="col-sm-11 col-xs-11 col-lg-11">
               @T("Hour Ratio bases")
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-right">
                <button type="button" class="btn btn-sm btn-warning glyphicon-collapse-down" data-toggle="collapse" data-target="#hourRatio_@currentYear" />
            </div>
        </div>
    </div>
    <div style="overflow:auto;font-size:12px;display:none" class="form-horizontal collapse in" id="hourRatio_@currentYear">
        <table class="table table-bordered table-condensed table-hover" id="detailHourRatio_@entryIndex" name="HourRatio" data-entryIndex="@entryIndex">
            <thead>
                <tr class="active">
                    <th>@T("Comment")</th>
                    <th>@T("RMB/Hour")</th>
                    <th>@T("Cost Center")</th>
                    <th>@T("Type")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].HourRatios)
            {
                <tr  class="data">
                    <td style="">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Id" 
                                             name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].Year)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.Id, new { @data_index = index })
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.Comment)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.DisplayGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.TotalGroup)
                        @Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.Comment
                    </td>
                    <td style="">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.RMBHour)
                        @(Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.RMBHour)
                    </td>
                    <td style="">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.CostCenter)
                        @(Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.CostCenter)
                    </td>
                    <td style="">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.ActivityType)
                        @(Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.ActivityType)
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Jan" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Jan)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Feb"  readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Feb)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Mar" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Mar)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Apr" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Apr)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].May" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].May)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Jun" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Jun)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Jul" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Jul)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Aug" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Aug)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Sep" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Sep)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Oct" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Oct)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Nov" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Nov)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" 
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Dev" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Dev)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].HourRatios[index].Y1" 
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <!--WorkingHours-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px;margin-top:2px;display:none">
        <div class="row">
            <div class="col-sm-11 col-xs-11 col-lg-11">
                @T("Working  Hours")
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-right">
                <button type="button" class="btn btn-sm btn-warning glyphicon-collapse-down" data-toggle="collapse" data-target="#workingHour_@currentYear" />
            </div>
        </div>
    </div>
    <div style="overflow:auto;font-size:12px;display:none"  class="form-horizontal collapse in" id="workingHour_@currentYear">
        <table class="table table-bordered table-condensed table-hover"
               id="detailWorkingHour_@entryIndex" name="WorkingHour"
               style="width:auto;margin-right:0px;margin-left:auto;" data-entryIndex="@entryIndex">
            <thead>
                <tr class="active">
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].WorkingHours)
            {
                <tr>
                    <td style="">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Id"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].WorkingHours[index].Year)
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Jan" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Jan)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Feb" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Feb)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Mar" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Mar)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Apr" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Apr)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].May" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].May)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Jun" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Jun)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Jul" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Jul)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Aug" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Aug)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Sep" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Sep)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Oct" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Oct)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Nov" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Nov)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Dev" readonly="readonly"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Dev)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Y1"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <!--Costs-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px;margin-top:2px">
        <div class="row">
            <div class="col-sm-11 col-xs-11 col-lg-11">
                @T("COST")
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-right">
                <button type="button" class="btn btn-sm btn-warning glyphicon-collapse-down" data-toggle="collapse" data-target="#cost_@currentYear" />
            </div>
        </div>
    </div>
    <div style="font-size:12px" class="form-horizontal collapse in" id="cost_@currentYear">
        <div style="overflow:auto;" >
            <table class="table table-bordered table-condensed table-hover"
                   style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px" name="Cost"
                   id="detailCost_@entryIndex" data-entryIndex="@entryIndex">
                <thead>
                    <tr class="active">
                        <th>@T("Comment")</th>
                        <th>@T("RMB/Hour")</th>
                        <th>@T("Cost Center")</th>
                        <th>@T("Type")</th>
                        <th style="width:61px">@T("Jan")</th>
                        <th style="width:61px">@T("Feb")</th>
                        <th style="width:61px">@T("Mar")</th>
                        <th style="width:61px">@T("Apr")</th>
                        <th style="width:61px">@T("May")</th>
                        <th style="width:61px">@T("Jun")</th>
                        <th style="width:61px">@T("Jul")</th>
                        <th style="width:61px">@T("Aug")</th>
                        <th style="width:61px">@T("Sep")</th>
                        <th style="width:61px">@T("Oct")</th>
                        <th style="width:61px">@T("Nov")</th>
                        <th style="width:61px">@T("Dev")</th>
                        <th style="width:61px">@T("Y1")</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Detail.Entries[entryIndex].Costs)
                {
                    <tr class="data">
                        <td style="">
                            <input type="hidden" value="@Model.Detail.Entries[entryIndex].Costs[index].Id"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Id)" />
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].Year)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.Id, new { @data_index = index })
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.Comment)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.DisplayGroup)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.TotalGroup)
                            @Model.Detail.Entries[entryIndex].Costs[index].ActivityType.Comment
                        </td>
                        <td style="">
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.RMBHour)
                            @(Model.Detail.Entries[entryIndex].Costs[index].ActivityType.RMBHour)
                        </td>
                        <td style="">
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.CostCenter)
                            @(Model.Detail.Entries[entryIndex].Costs[index].ActivityType.CostCenter)
                        </td>
                        <td style="">
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.ActivityType)
                            @(Model.Detail.Entries[entryIndex].Costs[index].ActivityType.ActivityType)
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Jan"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Jan)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Feb"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Feb)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Mar"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Mar)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Apr"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Apr)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].May"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].May)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Jun"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Jun)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Jul"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Jul)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Aug"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Aug)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Sep"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Sep)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Oct"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Oct)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Nov"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Nov)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Dev"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Dev)" />
                        </td>
                        <td style="">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Costs[index].Y1"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Y1)" />
                        </td>
                    </tr>
                    index++;
                }
                <tfoot>
                    <tr class="success">
                        <th colspan="4" class="text-center">@T("Total")</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        @{ index = 0; }
        <table class="table table-bordered table-condensed table-hover"  id="detailTravel_@entryIndex"
               style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px"  name="Travel"
               data-entryIndex="@entryIndex">
            <thead>
                <tr class="active">
                    <th>@T("")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
                <tr class="success">
                    <th style="width:auto">@T("Total Travel")</th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].Travels)
            {
                <tr>
                    <td style="">
                        @{ 
                            var activityType = Model.Detail.Entries[entryIndex].Travels[index].ActivityType;
                            string title = activityType.RMBHour;
                        }
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].Travels[index].Id"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].Year)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.Id, new { @data_index = index })
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.Comment)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.DisplayGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.TotalGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.RMBHour)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.ActivityType)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Travels[index].ActivityType.CostCenter)
                        @title
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Jan"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Jan)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Feb"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Feb)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Mar"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Mar)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Apr"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Apr)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].May"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].May)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Jun"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Jun)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Jul"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Jul)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Aug"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Aug)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Sep"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Sep)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Oct"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Oct)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Nov"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Nov)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Dev"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Dev)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].Travels[index].Y1"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Travels[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
        @{ index = 0; }
        <table class="table table-bordered table-condensed table-hover" id="detailDV_@entryIndex"
               style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px" name="DV"
               data-entryIndex="@entryIndex">
            <thead>
                <tr class="active">
                    <th>@T("")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
                <tr class="success">
                    <th style="width:auto">@T("DV")</th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].DVs)
            {
                <tr>
                    <td style="">
                        @{
                            var activityType = Model.Detail.Entries[entryIndex].DVs[index].ActivityType;
                            string title = activityType.RMBHour;
                        }
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].DVs[index].Id"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].Year)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.Id, new { @data_index = index })
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.Comment)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.DisplayGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.TotalGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.RMBHour)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.ActivityType)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].DVs[index].ActivityType.CostCenter)
                        @title
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Jan"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Jan)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Feb"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Feb)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Mar"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Mar)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Apr"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Apr)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].May"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].May)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Jun"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Jun)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Jul"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Jul)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Aug"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Aug)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Sep"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Sep)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Oct"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Oct)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Nov"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Nov)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Dev"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Dev)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].DVs[index].Y1"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].DVs[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
        @{ index = 0; }
        <table class="table table-bordered table-condensed table-hover" id="detailPV_@entryIndex"
               style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px" name="PV"
               data-entryIndex="@entryIndex">
            <thead>
                <tr class="active">
                    <th>@T("")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
                <tr class="success">
                    <th style="width:auto">@T("PV")</th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].PVs)
            {
                <tr>
                    <td style="">
                        @{
                            var activityType = Model.Detail.Entries[entryIndex].PVs[index].ActivityType;
                            string title = activityType.RMBHour;
                        }
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].PVs[index].Id"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].Year)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.Id, new { @data_index = index })
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.Comment)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.DisplayGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.TotalGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.RMBHour)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.ActivityType)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].PVs[index].ActivityType.CostCenter)
                        @title
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Jan"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Jan)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Feb"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Feb)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Mar"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Mar)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Apr"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Apr)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].May"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].May)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Jun"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Jun)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Jul"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Jul)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Aug"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Aug)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Sep"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Sep)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Oct"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Oct)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Nov"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Nov)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Dev"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Dev)" />
                    </td>
                    <td style="">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].PVs[index].Y1"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].PVs[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
        @{ index = 0; }
        <table class="table table-bordered table-condensed table-hover" id="detailExternal_@entryIndex"
               style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px" name="External"
               data-entryIndex="@entryIndex">
            <thead>
                <tr class="success hidden">
                    <th style="width:auto">@T("External Support")</th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].Externals)
            {
                <tr class="success">
                    <td style="width:auto">
                        @{
                            var activityType = Model.Detail.Entries[entryIndex].Externals[index].ActivityType;
                            string title = activityType.RMBHour;
                        }
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].Externals[index].Id"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].Year)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.Id, new { @data_index = index })
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.Comment)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.DisplayGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.TotalGroup)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.RMBHour)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.ActivityType)
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Externals[index].ActivityType.CostCenter)
                        @title
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Jan"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Jan)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Feb"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Feb)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Mar"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Mar)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Apr"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Apr)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].May"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].May)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Jun"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Jun)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Jul"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Jul)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Aug"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Aug)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Sep"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Sep)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Oct"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Oct)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Nov"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Nov)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Dev"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Dev)" />
                    </td>
                    <td style="width:61px">
                        <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                               value="@Model.Detail.Entries[entryIndex].Externals[index].Y1"
                               name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Externals[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
        @{ index = 0; }
        <table class="table table-bordered table-condensed table-hover" id="detailGross_@entryIndex"
               style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px" name="Gross"
               data-entryIndex="@entryIndex">
            <thead>
                <tr class="warning">
                    <th style="width:auto">@T("Gross Cost (R&D) SH")</th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                    <th style="width:61px"></th>
                </tr>
            </thead>
        </table>
        @{ index = 0; }
        <table class="table table-bordered table-condensed table-hover" id="detailCapitalized_@entryIndex"
                style="margin-right:0px;margin-left:Auto;margin-bottom:0px;margin-top:0px" name="Capitalized"
                data-entryIndex="@entryIndex">
                <thead>
                    <tr class="success hidden">
                        <th style="width:auto">@T("Capitalized")</th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                        <th style="width:61px"></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Detail.Entries[entryIndex].Capitalizeds)
                {
                    <tr class="warning">
                        <td style="width:auto">
                            @{
                                var activityType = Model.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType;
                                string title = activityType.RMBHour;
                            }
                            <input type="hidden" value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Id"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Id)" />
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Year)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.Id, new { @data_index = index })
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.Comment)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.DisplayGroup)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.TotalGroup)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.RMBHour)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.ActivityType)
                            @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Capitalizeds[index].ActivityType.CostCenter)
                            @title
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Jan"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Jan)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Feb"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Feb)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Mar"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Mar)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Apr"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Apr)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].May"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].May)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Jun"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Jun)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Jul"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Jul)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Aug"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Aug)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Sep"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Sep)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Oct"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Oct)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Nov"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Nov)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Dev"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Dev)" />
                        </td>
                        <td style="width:61px">
                            <input type="text" style="padding:0px;width:50px;height:auto;" readonly="readonly"
                                   value="@Model.Detail.Entries[entryIndex].Capitalizeds[index].Y1"
                                   name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Capitalizeds[index].Y1)" />
                        </td>
                    </tr>
                    index++;
                }
            </table>
    </div>

</div>
}