@model Faurecia.ADL.ViewModels.ADLViewModel
@using Faurecia.ADL.ViewModels;

@for (int i= 0;i < Model.Years.Count;i++)
{
    int index = 0;
    int currentYear = Model.Years[i];
    ADLDetailEntry entry = Model.Detail.Entries.SingleOrDefault(w => w.Year == currentYear);
    if (entry == null) { continue; }
    int entryIndex = Model.Detail.Entries.IndexOf(entry);
    string cssClassName = i==0? "tab-pane active" : "tab-pane";
    var tabName = string.Format("YEAR{0}", currentYear);
<div role="tabpanel" class="@cssClassName" id="@tabName">
    <!--HeadCounts-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px">
        @T("HEAD COUNT")
    </div>
    <div style="overflow-y:inherit;font-size:12px">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="active">
                    <th>@Ajax.ActionLink("+", "AddRow", "Default"
                                    , new AjaxOptions()
                                    {
                                        HttpMethod = "Post"
                                    }, new { @class = "btn btn-default", @style = "padding:1px 6px" })</th>
                    <th>@T("Comment")</th>
                    <th>@T("RMB/Hour")</th>
                    <th>@T("Cost Center")</th>
                    <th>@T("Type")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            <tr class="success">
                <td style="padding:1px;">
                    &nbsp;
                </td>
                <td style="padding:1px;"></td>
                <td style="padding:1px;"></td>
                <td style="padding:1px;"></td>
                <td style="padding:1px;"></td>
                @for (int k = 1; k <= 12; k++)
                {
                    <td style="padding:1px;">
                    @if (Model.Head.StartDate != null && Model.Head.StartDate.Value.Year == currentYear && Model.Head.StartDate.Value.Month == k)
                    {
                        <div class="label label-success" style="display:block;line-height:2;padding:0px;cursor:pointer;"  title="@T("Start Date")">
                            @T("Start")
                        </div>
                    }
                    @if (Model.Head.SOPDate != null && Model.Head.SOPDate.Value.Year == currentYear && Model.Head.SOPDate.Value.Month == k)
                    {
                        <div class="label label-primary"  style="display:block;line-height:2;padding:0px;cursor:pointer;" title="@T("SOP Date")">
                            @T("SOP")
                        </div>
                    }
                    @if (Model.Head.ProtoDate != null && Model.Head.ProtoDate.Value.Year == currentYear && Model.Head.ProtoDate.Value.Month == k)
                    {
                        <div class="label label-success"  style="display:block;line-height:2;padding:0px;cursor:pointer;" title="@T("Proto Date")">
                            @T("Proto")
                        </div>
                    }
                    @if (Model.Head.OfferDate != null && Model.Head.OfferDate.Value.Year == currentYear && Model.Head.OfferDate.Value.Month == k)
                    {
                        <div class="label label-success"  style="display:block;line-height:2;padding:0px;cursor:pointer;" title="@T("Offer Date")">
                            @T("Offer")
                        </div>
                    }
                    @if (Model.Head.PTRDate != null && Model.Head.PTRDate.Value.Year == currentYear && Model.Head.PTRDate.Value.Month == k)
                    {
                        <div class="label label-success" style="display:block;line-height:2;padding:0px;cursor:pointer;" title="@T("PTR Date")">
                            @T("PTR")
                        </div>
                    }
                    </td>
                }
                <td style="padding:1px;"></td>
            </tr>
            @foreach (var item in Model.Detail.Entries[entryIndex].HeadCounts)
            {
                <tr>
                    <td style="padding:1px;">
                        @Ajax.ActionLink("-", "AddRow", "Default"
                                    , new AjaxOptions()
                                    {
                                        HttpMethod = "Post"
                                    }, new { @class = "btn btn-default", @style = "padding:1px 6px" })
                    </td>
                    <td style="padding:1px;">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Id" 
                                             name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.Comment)
                        @Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.Comment
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.RMBHour)
                        @(Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.RMBHour)
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.CostCenter)
                        @(Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.CostCenter)
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.ActivityType)
                        @(Model.Detail.Entries[entryIndex].HeadCounts[index].ActivityType.ActivityType)
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Jan" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Feb" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Feb)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Mar" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Mar)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Apr" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Apr)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].May" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].May)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Jun" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Jun)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Jul" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Aug" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Aug)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Sep" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Sep)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Oct" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Oct)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Nov" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Nov)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Dev" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Dev)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HeadCounts[index].Y1" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HeadCounts[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <!--HourRatios-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px">
        @T("Hour Ratio bases")
    </div>
    <div style="overflow-y:inherit;font-size:12px">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="active">
                    <th>@T("Comment")</th>
                    <th>@T("RMB/Hour")</th>
                    <th>@T("Cost Center")</th>
                    <th>@T("Type")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].HourRatios)
            {
                <tr>
                    <td style="padding:1px;">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Id" 
                                             name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.Comment)
                        @Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.Comment
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.RMBHour)
                        @(Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.RMBHour)
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.CostCenter)
                        @(Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.CostCenter)
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].HourRatios[index].ActivityType.ActivityType)
                        @(Model.Detail.Entries[entryIndex].HourRatios[index].ActivityType.ActivityType)
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Jan" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Feb" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Feb)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Mar" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Mar)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Apr" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Apr)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].May" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].May)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Jun" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Jun)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Jul" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Aug" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Aug)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Sep" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Sep)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Oct" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Oct)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Nov" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Nov)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Dev" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Dev)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].HourRatios[index].Y1" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].HourRatios[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <!--WorkingHours-->
    @{ index = 0; }
    <div style="overflow-y:inherit;font-size:12px">
        <table class="table table-bordered table-condensed table-hover" style="width:auto">
            <thead>
                <tr>
                    <td colspan="13" class="alert-info text-center" style="padding:5px">
                        @T("Working  Hours")
                    </td>
                </tr>
                <tr class="active">
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].WorkingHours)
            {
                <tr>
                    <td style="padding:1px;">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Id" 
                                             name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Id)" />
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Jan" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Feb" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Feb)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Mar" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Mar)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Apr" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Apr)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].May" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].May)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Jun" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Jun)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Jul" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Aug" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Aug)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Sep" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Sep)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Oct" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Oct)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Nov" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Nov)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Dev" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Dev)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].WorkingHours[index].Y1" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].WorkingHours[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <!--Costs-->
    @{ index = 0; }
    <div class="alert-info text-center" style="padding:5px">
        @T("COST")
    </div>
    <div style="overflow-y:inherit;font-size:12px">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr class="active">
                    <th>@T("Comment")</th>
                    <th>@T("RMB/Hour")</th>
                    <th>@T("Cost Center")</th>
                    <th>@T("Type")</th>
                    <th>@T("Jan")</th>
                    <th>@T("Feb")</th>
                    <th>@T("Mar")</th>
                    <th>@T("Apr")</th>
                    <th>@T("May")</th>
                    <th>@T("Jun")</th>
                    <th>@T("Jul")</th>
                    <th>@T("Aug")</th>
                    <th>@T("Sep")</th>
                    <th>@T("Oct")</th>
                    <th>@T("Nov")</th>
                    <th>@T("Dev")</th>
                    <th>@T("Y1")</th>
                </tr>
            </thead>
            @foreach (var item in Model.Detail.Entries[entryIndex].Costs)
            {
                <tr>
                    <td style="padding:1px;">
                        <input type="hidden" value="@Model.Detail.Entries[entryIndex].Costs[index].Id" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Id)" />
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.Comment)
                        @Model.Detail.Entries[entryIndex].Costs[index].ActivityType.Comment
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.RMBHour)
                        @(Model.Detail.Entries[entryIndex].Costs[index].ActivityType.RMBHour)
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.CostCenter)
                        @(Model.Detail.Entries[entryIndex].Costs[index].ActivityType.CostCenter)
                    </td>
                    <td style="padding:1px;">
                        @Html.HiddenFor(m => m.Detail.Entries[entryIndex].Costs[index].ActivityType.ActivityType)
                        @(Model.Detail.Entries[entryIndex].Costs[index].ActivityType.ActivityType)
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Jan" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Feb" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Feb)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Mar" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Mar)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Apr" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Apr)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].May" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].May)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Jun" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Jun)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Jul" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Jan)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Aug" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Aug)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Sep" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Sep)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Oct" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Oct)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Nov" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Nov)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Dev" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Dev)" />
                    </td>
                    <td style="padding:1px;">
                        <input type="text" style="padding:0px;width:50px;height:auto;" value="@Model.Detail.Entries[entryIndex].Costs[index].Y1" name="@Html.NameOf(m => m.Detail.Entries[entryIndex].Costs[index].Y1)" />
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
</div>
}