@model ADLIndexViewModel
@using Faurecia.ADL.ViewModels;
@{
    Script.Require("jQueryUI");
    Script.Require("Microsoft_jQueryAjax_Validate");
    Style.Require("jQueryUI");
    Style.Require("FaureciaADLStyle");
}
<h1 style="margin:5px 10px 10px 10px">
    @Html.TitleForPage(T("ADL Home").ToString())
</h1>
@using (Ajax.BeginForm("Index", "Default", new AjaxOptions { HttpMethod = "Post"
                                , UpdateTargetId="indexQueryResults"  }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                    <button class="btn btn-info" type="submit" name="submit.Query" value="@T("Query")">@T("Query")</button>
                    <button class="btn btn-success" type="button" name="button.Diff" value="@T("Diff")">@T("Diff")</button>
                </div>
                <div class="col-lg-6 col-sm-4 text-right">
                    @Html.ActionLink(T("Create New").Text, "Create","Default", new { Area = "Faurecia.ADL", returnurl = HttpContext.Current.Request.RawUrl }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.Options.ProjectNo, T("Project No").ToString(), new { @class = "col-sm-2 col-lg-2 control-label",@style="text-align:left" })
                    <div class="col-sm-2 col-lg-2">
                        @Html.TextBoxFor(m => m.Options.ProjectNo, new { autofocus = "autofocus", @class = "form-control", placeholder = "Project No" })
                        @Html.ValidationMessageFor(m => m.Options.ProjectNo)
                    </div>
                    @Html.LabelFor(m => m.Options.Customer, T("Customer").ToString(), new { @class = "col-sm-2 col-lg-2 control-label", @style = "text-align:left" })
                    <div class="col-sm-2 col-lg-2">
                        @Html.TextBoxFor(m => m.Options.Customer, new { @class = "form-control", @maxlength = 25, placeholder = "Customer Name" })
                        @Html.ValidationMessageFor(m => m.Options.Customer)
                    </div>
                    @Html.LabelFor(m => m.Options.Filter, T("Filter").ToString(), new { @class = "col-sm-2 col-lg-2 control-label", @style = "text-align:left" })
                    <div class="col-sm-2 col-lg-2">
                        <select id="@Html.IdFor(m=>m.Options.Filter)" name="@Html.NameOf(m => m.Options.Filter)">
                            @Html.SelectOption(Model.Options.Filter, ADLFilter.LastestVersion, T("Lastest Version").ToString())
                            @Html.SelectOption(Model.Options.Filter, ADLFilter.AllVersion, T("All Version").ToString())
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" id="indexQueryResults">
            @Html.Partial("_IndexQueryResult", Model)
        </div>
    </div>
}
@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                autoSize:true,
                dateFormat: "yy/mm/dd"
            });
            $("input[type='checkbox'][name$='.IsChecked']").bind("change", function () {
                var checkboxs = $("input[type='checkbox'][name$='.IsChecked']:checked");
                var isChecked = $(this).prop("checked");
                if (isChecked && $(checkboxs).length > 3) {
                    $(this).prop("checked", !isChecked);
                    event.preventDefault();
                }
            });

            $("button[name='button.Diff']").bind("click", function () {

                var checkboxs = $("input[type='checkbox'][name$='.IsChecked']:checked");
                if ($(checkboxs).length < 1) { return;}
                if ($(checkboxs).length > 3) { return; }

                var ids = "";
                $(checkboxs).each(function(i,item){
                    if (ids != "") ids = ids + ",";
                    ids = ids + $(item).val();
                });
                if (ids == "") return;
                var returnurl = "@HttpContext.Current.Request.RawUrl";
                var url="@Url.Action("Diff", "Default", new { Area= "Faurecia.ADL" })";
                location.href = url + "?ids=" + ids + "&returnurl=" + returnurl;
            });

        })
    </script>
}