@model Faurecia.ADL.ViewModels.ADLViewModel
@{
    Script.Require("jQueryUI");
    Script.Require("Microsoft_jQueryAjax_Validate");
    Style.Require("jQueryUI");
    Style.Require("FaureciaADLStyle");
}
<h1 style="margin:5px 10px 10px 10px">
    @ViewBag.Title
</h1>
@using (Ajax.BeginForm("Save", "Default", new AjaxOptions { HttpMethod = "Post"
                                , OnBegin="beginSave"
                                , OnComplete="completeSave" }))
{
    @Html.AntiForgeryToken()
    string returnUrl = Request["ReturnUrl"];
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-sm-8">
                @if (Model.Action != Faurecia.ADL.ViewModels.EnumActions.View)
                {
                    <button class="btn btn-info" type="submit" name="submit.Save" value="@T("Save")">@T("Save")</button>
                    <button class="btn btn-info" type="submit" name="submit.Confirm" value="@T("Confirm")">@T("Confirm")</button>
                    <button class="btn btn-primary" type="submit" name="submit.Submit" value="@T("Submit")">@T("Submit")</button>
                }
                &nbsp;
                </div>
                <div class="col-lg-6 col-sm-4 text-right">
                    @if (!string.IsNullOrEmpty(returnUrl))
                    {
                        @Html.Link(T("Back").Text, returnUrl,new { @class = "btn btn-default" });
                    }
                    <button type="button" class="btn btn-sm btn-warning glyphicon-collapse-down" data-toggle="collapse" data-target="#baseInfo"/>
                </div>
            </div>
        </div>
        <div class="alert fade in hide" resource="alert" id="statusMessage">
            <button type="button" class="close" onclick="hideStatusMessage()">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
            <p></p>
        </div>
        <div id="baseInfo" class="collapse in" >
        <div class="panel-body">
            @Html.HiddenFor(m=>m.Action)
            <div id="head">
                @Html.Partial("_Head", Model)
            </div>
        </div>
        </div>
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="detailTab">
                @for (int i = 0; i < Model.Years.Count; i++)
                {
                    int year = Model.Years[i];
                    var tabName = string.Format("YEAR{0}", year);
                    if (i==0)
                    {
                        <li role="presentation" class="active">
                            <a href="#@tabName" role="tab" data-toggle="tab">@year</a>
                            @Html.HiddenFor(m => m.Years[i])
                        </li>
                    }
                    else
                    {
                        <li role="presentation">
                            <a href="#@tabName" role="tab" data-toggle="tab">@year</a>
                            @Html.HiddenFor(m => m.Years[i])
                        </li>
                    }
                }
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                @Html.Partial("_Detail", Model)
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-horizontal">
                <div class="form-group">
                    @if (Model.Head.Phase == Faurecia.ADL.Models.EnumPhase.Creating)
                    {
                        @Html.LabelFor(m => m.Head.Quotation, T("Quotation").Text, new { @class = "col-sm-2 col-lg-2 control-label", @style = "text-align:left" })
                        <div class="col-sm-3 col-lg-3">
                            @Html.DropDownListFor(m => m.Head.Quotation, Model.Quotations, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(m => m.Head.Quotation)
                        </div>
                        <div class="col-sm-3 col-lg-3">
                        </div>
                        <label class="col-sm-2 col-lg-2 control-label" style="text-align:left">
                            @T("Creator").Text
                        </label>
                        <div class="col-sm-2 col-lg-2">
                            <label class="control-label text-success" style="text-align:left">
                                @WorkContext.CurrentUser.UserName
                            </label>
                        </div>
                    }
                    else
                    {
                        @Html.LabelFor(m => m.Head.IBP, T("IBP").Text, new { @class = "col-sm-2 col-lg-2 control-label", @style = "text-align:left" })
                        <div class="col-sm-2 col-lg-2">
                            @Html.DropDownListFor(m => m.Head.IBP, Model.IBPs, new { @class = "form-control", placeholder = "" })
                            @Html.ValidationMessageFor(m => m.Head.IBP)
                        </div>
                        @Html.LabelFor(m => m.Head.Quotation, T("Quotation").Text, new { @class = "col-sm-2 col-lg-2 control-label", @style = "text-align:left" })
                        <div class="col-sm-2 col-lg-2">
                            <label class="control-label text-success" style="text-align:left">
                                @WorkContext.CurrentUser.UserName
                            </label>
                        </div>
                        <label class="col-sm-2 col-lg-2 control-label" style="text-align:left">
                            @T("Creator").Text
                        </label>
                        <div class="col-sm-2 col-lg-2">
                            <label class="control-label text-success" style="text-align:left">
                                @Model.Head.Creator
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="activityTypeModal" tabindex="-1" role="dialog" aria-labelledby="activityTypeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="activityTypeModalTitle">@T("Activity Types")</h4>
            </div>
            <div class="modal-body">
                <div id="activityTypeContent">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddActivityTypeRow" onclick="AddActivityTypeRow()">Save</button>
            </div>
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            if ("@Model.Action" == "@Faurecia.ADL.ViewModels.EnumActions.View") {
                $("input").attr("readonly", "readonly");
                $("select").attr("disabled", "disabled");
                $("textarea").attr("readonly", "readonly");
            }
            else
            {
                @*if ("@Model.Action" == "@Faurecia.ADL.ViewModels.EnumActions.Modify") {
                    $("#@Html.IdFor(m => m.Head.Name)").attr("readonly", "readonly");
                }*@

                $(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    autoSize: true,
                    dateFormat: "yy/mm/dd"
                });
                $("#@Html.IdFor(m => m.Action)").val("@Model.Action");
                $("#@Html.IdFor(m => m.Head.Name)").change(function () {
                    var customer = $(this).val().toUpperCase();
                    $(this).val(customer);
                    $("#@Html.IdFor(m => m.Head.ProjectNo)").val("");
                    $("#projectNoVersionNo").val("");
                    changeCustomer(customer);
                });
            }
        })
        //隐藏状态消息
        function hideStatusMessage() {
            $("#statusMessage").addClass("hide");
        }
        function showErrorInfo(result) {
            $("#statusMessage").find("p").html("");
            var message = result.Message;
            $("#statusMessage").find("p").html(message);
            $("#statusMessage").removeClass("hide");
            if (result.Code > 0) {
                $("#statusMessage").removeClass("alert-success");
                $("#statusMessage").addClass("alert-danger");
            }
            else {
                $("#statusMessage").removeClass("alert-danger");
                $("#statusMessage").addClass("alert-success");
            }
        }

        function beginSave(obj, req) {
            hideStatusMessage();
        }

        function completeSave(req) {
            var result = $.parseJSON(req.responseJSON);
            @*if (result.Action == "@Convert.ToInt32(Faurecia.ADL.ViewModels.EnumActions.Modify)") {
                $("#@Html.IdFor(m => m.Head.Name)").attr("readonly", "readonly");
            }*@
            $("#@Html.IdFor(m => m.Head.Id)").val(result.Head.Id);
            $("#@Html.IdFor(m => m.Action)").val(result.Action);
            $("#@Html.IdFor(m => m.Head.ProjectNo)").val(result.Head.ProjectNo);
            $("#@Html.IdFor(m => m.Head.VersionNo)").val(result.Head.VersionNo);
            $("#projectNoVersionNo").val(result.Head.ProjectNo + "." + result.Head.VersionNo);

            var oldPhase=$("#@Html.IdFor(m => m.Head.Phase)").val();
            $("#@Html.IdFor(m => m.Head.Phase)").val(result.Head.Phase);
            $("#@Html.IdFor(m => m.Head.Status)").val(result.Head.Status);
            $("#PhaseStatus").html(result.Head.Phase + "-" + result.Head.Status);


            showErrorInfo(result);
            if (result.Code == 0) {
                var returnUrl = "@Request["ReturnUrl"]";
                var redirectUrl = result.RedirectToHref;
                if (!!returnUrl) {
                    if (result.Head.Phase != oldPhase) {
                        redirectUrl = returnUrl;
                    }
                    else {
                        redirectUrl = redirectUrl + "?returnUrl=" + returnUrl;
                    }
                }
                setTimeout(function () {
                    location.replace(redirectUrl);
                }, 2000);
            }
        }

        function changeCustomer(customer) {
            if (customer.length < 3) { return; }
            var url = "@Url.Action("GetProjectNo",new { area = "Faurecia.ADL" })";
            var timestamp = Math.round(new Date().getTime() / 1000);
            var reqdata = { customer: customer, key: timestamp };

            $.get(url, reqdata, function (data) {
                $("#@Html.IdFor(m => m.Head.ProjectNo)").val(data);
                var versionNo = $("#@Html.IdFor(m => m.Head.VersionNo)").val();
                var projectNoVersionNo=data+"."+versionNo;
                $("#projectNoVersionNo").val(projectNoVersionNo);
            });
        }
    </script>

    @*Show Or Hide Activity Type Content*@
    <script type="text/javascript" language="javascript">

        function showActivityTypeModal(result) {
            $('#activityTypeModal').modal('show')
        }

        function beginSaveModify() {
        }

        function AddActivityTypeRow() {

            var tabpanel = $("div.active[role='tabpanel']");
            var activityTypeQueryResults = $("#activityTypeQueryResults");
            var activityTypes = $(activityTypeQueryResults).find("input:checked");

            for (var i = 0; i < activityTypes.length; i++) {

                var activityTypeId=$(activityTypes[i]).val();
                var activityType=$(activityTypes[i]).parent().parent().find("td:eq(1)").text();
                var costCenter=$(activityTypes[i]).parent().parent().find("td:eq(2)").text();
                var RMBHour=$(activityTypes[i]).parent().parent().find("td:eq(3)").text();
                var comment=$(activityTypes[i]).parent().parent().find("td:eq(4)").text();
                var activityType = { Id: activityTypeId, Comment: comment, RMBHour: RMBHour, CostCenter: costCenter, ActivityType: activityType };
                //Add Head Count Record Row
                if (!HasDetailRecordRow(activityType, "HeadCount"))
                {
                    AddDetailRecordRow(activityType, "HeadCount")
                }
                //Add Hour Ratio Record Row
                if (!HasDetailRecordRow(activityType, "HourRatio")) {
                    AddDetailRecordRow(activityType, "HourRatio");
                }
                //Add Cost Record Row
                if (!HasDetailRecordRow(activityType, "Cost")) {
                    AddDetailRecordRow(activityType, "Cost");
                }
            }
            $("#activityTypeModal").modal("hide");
        }

        function HasDetailRecordRow(activityType, tableName)
        {
            var tabpanel = $("div.active[role='tabpanel']");
            var table = $(tabpanel).find("table[id^='detail" + tableName + "_']");
            var activityTypeIds = $(table).find("input[name$='.ActivityType.Id'][value='" + activityType.Id + "']");
            return activityTypeIds.length > 0;
        }

        function AddDetailRecordRow(activityType,tableName) {
            var tabpanel = $("div.active[role='tabpanel']");
            var table = $(tabpanel).find("table[id^='detail" + tableName + "_']");

            var adlRecordId = $("#Head_Id").val();
            var year = $(tabpanel).data("year");
            var entryIndex = $(table).data("entryindex");

            var lastRow = $(table).find("tr:last");
            var lastRowCells = $(lastRow).find("td");
            if (lastRowCells.length == 0) {
                lastRowCells = $(lastRow).find("th");
            }
            var lastRowActivityTypeId = $(lastRow).find("input[name$='.ActivityType.Id']");
            var lastRowIndex = $(lastRowActivityTypeId).data("index");
            if (!$.isNumeric(lastRowIndex)) { lastRowIndex = -1;}
            var newindex = lastRowIndex + 1;
            var prefixName = "Detail.Entries[" + entryIndex + "]." + tableName + "s[" + newindex + "]";
            var row = $("<tr></tr>");
            var startIndex = 1;
            var endIndex = lastRowCells.length + 1;
            var style = "style='padding:0px;width:50px;height:auto;'";
            if (tableName == "HeadCount") {
                startIndex = 0;
                endIndex = lastRowCells.length;
            }
            if (tableName != "Cost")
            {
                style = style + "  maxlength='5'";
            }
            for (var i = startIndex; i < endIndex; i++) {
                if (i == 0) {
                    //TD1
                    var td1 = $("<td></td>");
                    var url = "/ADL/Default/DeleteDetailRecord?ActivityTypeId=" + activityType.Id + "&Year=" + year + "&ADLRecordId=" + adlRecordId + "&EntryIndex=" + entryIndex;
                    var href = $("<a class='btn btn-warning btn-sm' href='#'>-</a>");
                    $(href).attr("data-ajax", "true");
                    $(href).attr("data-ajax-method", "GET");
                    $(href).attr("data-ajax-success", "CompleteDeleteDetailRecord");
                    $(href).attr("data-ajax-url", url);
                    td1.append(href);
                    row.append(td1);
                }
                else if (i == 1) {
                    //TD2
                    var td2 = $("<td></td>");
                    var hcId = $("<input type='hidden' value='0' name='" + prefixName + ".Id'/>")
                    var hcYear = $("<input name='" + prefixName + ".Year' type='hidden' value='" + year + "'/>")
                    var hcActivityTypeId = $("<input name='" + prefixName + ".ActivityType.Id' type='hidden' value='" + activityType.Id + "'/>");
                    $(hcActivityTypeId).attr("data-index", newindex);
                    var hcActivityTypeComment = $("<input name='" + prefixName + ".ActivityType.Comment' type='hidden' value='" + activityType.Comment + "'/>");
                    td2.append(hcId);
                    td2.append(hcYear);
                    td2.append(hcActivityTypeId);
                    td2.append(hcActivityTypeComment);
                    td2.append(activityType.Comment);
                    row.append(td2);
                }
                else if (i == 2) {
                    //TD3
                    var td3 = $("<td></td>");
                    var hcRMBHour = $("<input name='" + prefixName + ".ActivityType.RMBHour' type='hidden' value='" + activityType.RMBHour + "'/>");
                    td3.append(hcRMBHour);
                    td3.append(activityType.RMBHour);
                    row.append(td3);
                }
                else if (i == 3) {
                    //TD4
                    var td4 = $("<td></td>");
                    var hcCostCenter = $("<input name='" + prefixName + ".ActivityType.CostCenter' type='hidden' value='" + activityType.CostCenter + "'/>");
                    td4.append(hcCostCenter);
                    td4.append(activityType.CostCenter);
                    row.append(td4);
                }
                else if (i == 4) {
                    //TD5
                    var td5 = $("<td></td>");
                    var hcActitityType = $("<input name='" + prefixName + ".ActivityType.ActivityType' type='hidden' value='" + activityType.ActivityType + "'/>");
                    td5.append(hcActitityType);
                    td5.append(activityType.ActivityType);
                    row.append(td5);
                }
                else if (i == 5) {
                    //TD6
                    var td6 = $("<td></td>");
                    var jan = $("<input type='text' "+style+" name='" + prefixName + ".Jan'/>");
                    td6.append(jan);
                    row.append(td6);
                }
                else if (i == 6) {
                    //TD7
                    var td7 = $("<td></td>");
                    var feb = $("<input type='text' "+style+" name='" + prefixName + ".Feb'/>");
                    td7.append(feb);
                    row.append(td7);
                }
                else if (i == 7) {
                    //TD8
                    var td8 = $("<td></td>");
                    var mar = $("<input type='text' "+style+" name='" + prefixName + ".Mar'/>");
                    td8.append(mar);
                    row.append(td8);
                }
                else if (i == 8) {
                    //TD9
                    var td9 = $("<td></td>");
                    var apr = $("<input type='text' "+style+" name='" + prefixName + ".Apr'/>");
                    td9.append(apr);
                    row.append(td9);
                }
                else if (i == 9) {
                    //TD10
                    var td10 = $("<td></td>");
                    var may = $("<input type='text' "+style+" name='" + prefixName + ".May'/>");
                    td10.append(may);
                    row.append(td10);
                }
                else if (i == 10) {
                    //TD11
                    var td11 = $("<td></td>");
                    var may = $("<input type='text' "+style+" name='" + prefixName + ".Jun'/>");
                    td11.append(may);
                    row.append(td11);
                }
                else if (i == 11) {
                    //TD12
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" name='" + prefixName + ".Jul'/>");
                    td.append(input);
                    row.append(td);
                }
                else if (i == 12) {
                    //TD13
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" name='" + prefixName + ".Aug'/>");
                    td.append(input);
                    row.append(td);
                }
                else if (i == 13) {
                    //TD14
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" name='" + prefixName + ".Sep'/>");
                    td.append(input);
                    row.append(td);
                }
                else if (i == 14) {
                    //TD15
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" name='" + prefixName + ".Oct'/>");
                    td.append(input);
                    row.append(td);
                }
                else if (i == 15) {
                    //TD16
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" name='" + prefixName + ".Nov'/>");
                    td.append(input);
                    row.append(td);
                }
                else if (i == 16) {
                    //TD17
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" name='" + prefixName + ".Dev'/>");
                    td.append(input);
                    row.append(td);
                }
                else if (i == 17) {
                    //TD18
                    var td = $("<td></td>");
                    var input = $("<input type='text' "+style+" readonly='readonly' name='" + prefixName + ".Y1'/>");
                    td.append(input);
                    row.append(td);
                }
                else {
                    row.append($("<td></td>"));
                }
            }
            if (tableName == "Cost") {
                row.find("input[type='text']").each(function (x, xitem) {
                    $(xitem).attr("readonly", "readonly");
                });
            }
            else {
                row.find("input[type='text']").each(function (x, xitem) {
                    $(xitem).bind("keypress", function (event) {
                        var val = $(this).val();
                        var key = event.key;
                        if ((key < "0" || key > "9") && key != ".") {
                            event.preventDefault();
                        }
                        if (val.indexOf(".") >= 0 && key == ".") {
                            event.preventDefault();
                        }
                        if (val.length == 0 && key == ".") {
                            event.preventDefault();
                        }
                        if (val.length == 1 && val == "0" && key != ".") {
                            event.preventDefault();
                        }
                    }).bind("paste", function (event) {
                        var val = undefined;
                        if (window.clipboardData && window.clipboardData.getData) {
                            val = win.clipboardData.getData("Text");
                        }
                        else {
                            val = event.originalEvent.clipboardData.getData("Text");
                        }
                        var r = /^[0-9]+.?[0-9]*$/
                        if (!r.test(val)) {
                            event.preventDefault();
                            alert("\""+val+"\"@T(" is not valid value.")");
                        }
                    }).bind("input", function (event) {
                        var val = $(this).val();
                        var r = /^[0-9]+.?[0-9]*$/
                        if (!r.test(val)) {
                            event.preventDefault();
                            alert("\""+val+"\"@T(" is not valid value.")");
                        }
                        var name = $(this).attr("name");
                        CalcCost(tableName,name);
                    });
                });
            }

            $(table).append(row);
        }

        function CalcCost(tableName,name) {
            var tabpanel = $("div.active[role='tabpanel']");
            //HeadCount Input
            var headCountInputName = name.replace(tableName, "HeadCount");
            var headCount = $("input[name='" + headCountInputName + "']").val();
            if (!$.isNumeric(headCount)) {
                headCount = 0;
            }
            //Cost Input
            var hourRatioInputName = name.replace(tableName, "HourRatio");
            var hourRatio = $("input[name='" + hourRatioInputName + "']").val();
            if (!$.isNumeric(hourRatio)) {
                hourRatio = 0;
            }
            //Working hour
            var reg=new RegExp(tableName+"s\[[0-9]*\]");
            var workingHourInputName = name.replace(reg, "WorkingHours[0]");
            var workingHour = $("input[name='" + workingHourInputName + "']").val();
            if (!$.isNumeric(workingHour)) {
                workingHour = 0;
            }
            //
            var cost = Math.round(headCount * hourRatio * workingHour * 100) / 100;
            //Cost Input
            var costInputName = name.replace(tableName, "Cost");
            $("input[name='" + costInputName + "']").val(cost);
        }
        function CompleteDeleteDetailRecord(result) {
            if (!!result.Message) {
                alert(result.Message);
                return;
            }
            //Delete Head Record Row
            var headCountTable = $("#detailHeadCount_" + result.EntryIndex);
            var activityTypeIds = $(headCountTable).find("input[name$='.ActivityType.Id'][value='" + result.ActivityTypeId + "']");
            replaceInputName(result, activityTypeIds, "HeadCounts");
            //Delete Hour Ratio Record Row
            var hourRatioTable = $("#detailHourRatio_" + result.EntryIndex);
            activityTypeIds = $(hourRatioTable).find("input[name$='.ActivityType.Id'][value='" + result.ActivityTypeId + "']");
            replaceInputName(result, activityTypeIds, "HourRatios");
            //Delete Cost Record Row
            var costTable = $("#detailCost_" + result.EntryIndex);
            activityTypeIds = $(costTable).find("input[name$='.ActivityType.Id'][value='" + result.ActivityTypeId + "']");
            replaceInputName(result,activityTypeIds, "Costs");
        }

        function replaceInputName(result, activityTypeIds, tableName) {
            for (var i = 0; i < activityTypeIds.length; i++) {
                var index = $(activityTypeIds[i]).data("index");
                var row = $(activityTypeIds[i]).parent().parent();
                $(row).nextAll().each(function (k, item) {
                    var activityTypeId = $(item).find("input[name$='.ActivityType.Id']");
                    var oldindex = $(activityTypeId).data("index");
                    var newindex = index + k;
                    var name = "Detail.Entries[" + result.EntryIndex + "]." + tableName + "[" + oldindex + "]";
                    var newname = "Detail.Entries[" + result.EntryIndex + "]." + tableName + "[" + newindex + "]";

                    $(activityTypeId).attr("data-index", newindex);
                    $(item).find("input[name^='" + name + "']").each(function (xi, xitem) {
                        var xitemName = $(xitem).attr("name").replace(name, newname);
                        $(xitem).attr("name", xitemName);
                    });
                });
                $(row).remove();
            }
        }
    </script>
}