@model ActivityTypeCreateViewModel
@using Faurecia.ADL.ViewModels;
@{
    Script.Require("Microsoft_jQueryAjax_Validate");
    string returnUrl = Request["ReturnUrl"];
}
<h1>
@if (Model.Action == ActivityTypeBulkAction.Create)
{
    @Html.TitleForPage(T("Hour rate maintenance (new)").ToString())
}
else if (Model.Action == ActivityTypeBulkAction.Edit)
{
    @Html.TitleForPage(T("Hour rate maintenance (edit)").ToString())
}
else if (Model.Action == ActivityTypeBulkAction.BulkEdit)
{
    @Html.TitleForPage(T("Hour rate maintenance (bulk edit)").ToString())
}
</h1>
@using (Ajax.BeginForm("Save", "ActivityType" , new AjaxOptions { HttpMethod = "Post",OnComplete="onCompleteSave" }))
{
    @Html.AntiForgeryToken()
   <div class="panel panel-default">
       <div class="panel-heading">
           <div class="row">
               <div class="col-lg-6 col-sm-6 col-xs-6">
                   <button type="submit" name="submit.Save" class="btn btn-primary" value="@T("Save")">@T("Save")</button>
               </div>
               <div class="col-lg-6 col-sm-6 col-xs-6 text-right">
                   @if (!string.IsNullOrEmpty(returnUrl))
                   {
                       @Html.Link(T("Back").Text, returnUrl, new { @class = "btn btn-default",@id="btnBack" });
                   }
               </div>
           </div>
       </div>
       @for (int i = 0; i < Model.Ids.Count; i++)
       {
           <input type="hidden" value="@Model.Ids[i]" name="@Html.NameOf(m => m.Ids[i])" />
       }
       <input type="hidden" value="@Model.Action" name="@Html.NameOf(m => m.Action)" />
       <div class="alert alert-dismissable alert-danger" style="display:none">
           &nbsp;&nbsp;<label id="message"></label>
       </div>
        <div class="panel-body" style="margin-top:0px;margin-bottom:0px;padding-bottom:0px">
            <div class="form-horizontal">
                @if (Model.Action != ActivityTypeBulkAction.BulkEdit)
                {
                <div class="form-group">
                    @Html.LabelFor(m => m.CostCenter, T("Cost Center").Text, new { @class = "col-sm-2 col-xs-2 col-lg-2 control-label", @style = "text-align:left" })
                    <div class="col-sm-2 col-xs-2 col-lg-2">
                        @Html.TextBoxFor(m => m.CostCenter, new { @class = "form-control", maxlength = "50", placeholder = "Cost Center" })
                        @Html.ValidationMessageFor(m => m.CostCenter)
                    </div>
                    @Html.LabelFor(m => m.ActivityType, T("SAP Activity Type").Text, new { @class = "col-sm-2 col-xs-2 col-lg-2 control-label", @style = "text-align:left" })
                    <div class="col-sm-2 col-xs-2 col-lg-2">
                        @Html.TextBoxFor(m => m.ActivityType, new { @class = "form-control", maxlength = "50", placeholder = "Activity Type" })
                        @Html.ValidationMessageFor(m => m.ActivityType)
                    </div>
                    @Html.LabelFor(m => m.RMBHour, T("Description").Text, new { @class = "col-sm-2 col-xs-2 col-lg-2 control-label", @style = "text-align:left" })
                    <div class="col-sm-2 col-xs-2 col-lg-2">
                        @Html.TextBoxFor(m => m.RMBHour, new { @class = "form-control", maxlength = "50", placeholder = "RMB Hour" })
                        @Html.ValidationMessageFor(m => m.RMBHour)
                    </div>
                </div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.Comment, T("Comment").Text, new { @class = "col-sm-2 col-xs-2 col-lg-2 control-label", @style = "text-align:left" })
                    <div class="col-sm-10 col-xs-10 col-lg-10">
                        @Html.TextBoxFor(m => m.Comment, new { @class = "form-control", maxlength = "50", placeholder = "Comment" })
                        @Html.ValidationMessageFor(m => m.Comment)
                    </div>
                </div>
            </div>
        </div>
       <div class="panel-body" style="margin-top:0px;margin-bottom:0px">
           <button id="btnEditHourRatio" disabled="disabled" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
               @T("Edit")
           </button>
           <div id="hourRatios">
               @Html.Partial("_HourRatios", Model)
           </div>
       </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editModalTitle">@T("Edit hour ratio")</h4>
            </div>
            <div class="modal-body">
                <div id="editContent" class="form-horizontal">
                    @Html.Partial("_EditHourRatio",new HourRatioEditViewModel())
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveHourRatio">Save</button>
            </div>
        </div>
    </div>
</div>
@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {

            $("#editContent").find("input[type='text']").each(function (x, xitem) {
                //$(xitem).val("");
                BindInputEvent(xitem, true);
            });

            $("#hourRatios").find("input[type='text']").each(function (x, xitem) {
                //$(xitem).val("");
                BindInputEvent(xitem, true);
            });
            $('#editModal').on('show.bs.modal', function (e) {
                var lastChecked = $("input[type='checkbox']:checked:last");
                if (lastChecked.length == 0)
                {
                    e.preventDefault();
                }
            });

            $('#editModal').on('shown.bs.modal', function (e) {
                
                var lastChecked = $("input[type='checkbox']:checked:last");
                var tr = $(lastChecked).parent().parent();
                var jan = $("#editContent").find("input[name='Jan']");
                var feb = $("#editContent").find("input[name='Feb']");
                var mar = $("#editContent").find("input[name='Mar']");
                var apr = $("#editContent").find("input[name='Apr']");
                var may = $("#editContent").find("input[name='May']");
                var jun = $("#editContent").find("input[name='Jun']");
                var jul = $("#editContent").find("input[name='Jul']");
                var aug = $("#editContent").find("input[name='Aug']");
                var sep = $("#editContent").find("input[name='Sep']");
                var oct = $("#editContent").find("input[name='Oct']");
                var nov = $("#editContent").find("input[name='Nov']");
                var dev = $("#editContent").find("input[name='Dev']");

                var janVal = $(tr).find("input[name$='.HourRatio.Jan']").val();
                $(jan).val(janVal);
                var febVal = $(tr).find("input[name$='.HourRatio.Feb']").val();
                $(feb).val(febVal);
                var marVal = $(tr).find("input[name$='.HourRatio.Mar']").val();
                $(mar).val(marVal);
                var aprVal = $(tr).find("input[name$='.HourRatio.Apr']").val();
                $(apr).val(aprVal);
                var mayVal = $(tr).find("input[name$='.HourRatio.May']").val();
                $(may).val(mayVal);
                var junVal = $(tr).find("input[name$='.HourRatio.Jun']").val();
                $(jun).val(junVal);
                var julVal = $(tr).find("input[name$='.HourRatio.Jul']").val();
                $(jul).val(julVal);
                var augVal = $(tr).find("input[name$='.HourRatio.Aug']").val();
                $(aug).val(augVal);
                var sepVal = $(tr).find("input[name$='.HourRatio.Sep']").val();
                $(sep).val(sepVal);
                var octVal = $(tr).find("input[name$='.HourRatio.Oct']").val();
                $(oct).val(octVal);
                var novVal = $(tr).find("input[name$='.HourRatio.Nov']").val();
                $(nov).val(novVal);
                var devVal = $(tr).find("input[name$='.HourRatio.Dev']").val();
                $(dev).val(devVal);
            });
            $("#btnSaveHourRatio").click(function () {
                $("input[type='checkbox']:checked").each(function (x, xitem) {
                    var tr = $(xitem).parent().parent();
                    var janVal = $("#editContent").find("input[name='Jan']").val();
                    var febVal = $("#editContent").find("input[name='Feb']").val();
                    var marVal = $("#editContent").find("input[name='Mar']").val();
                    var aprVal = $("#editContent").find("input[name='Apr']").val();
                    var mayVal = $("#editContent").find("input[name='May']").val();
                    var junVal = $("#editContent").find("input[name='Jun']").val();
                    var julVal = $("#editContent").find("input[name='Jul']").val();
                    var augVal = $("#editContent").find("input[name='Aug']").val();
                    var sepVal = $("#editContent").find("input[name='Sep']").val();
                    var octVal = $("#editContent").find("input[name='Oct']").val();
                    var novVal = $("#editContent").find("input[name='Nov']").val();
                    var devVal = $("#editContent").find("input[name='Dev']").val();

                    var jan = $(tr).find("input[name$='.HourRatio.Jan']");
                    $(jan).val(janVal);
                    var feb = $(tr).find("input[name$='.HourRatio.Feb']");
                    $(feb).val(febVal);
                    var mar = $(tr).find("input[name$='.HourRatio.Mar']");
                    $(mar).val(marVal);
                    var apr = $(tr).find("input[name$='.HourRatio.Apr']");
                    $(apr).val(aprVal);
                    var may = $(tr).find("input[name$='.HourRatio.May']");
                    $(may).val(mayVal);
                    var jun = $(tr).find("input[name$='.HourRatio.Jun']");
                    $(jun).val(junVal);
                    var jul = $(tr).find("input[name$='.HourRatio.Jul']");
                    $(jul).val(julVal);
                    var aug = $(tr).find("input[name$='.HourRatio.Aug']");
                    $(aug).val(augVal);
                    var sep = $(tr).find("input[name$='.HourRatio.Sep']");
                    $(sep).val(sepVal);
                    var oct = $(tr).find("input[name$='.HourRatio.Oct']");
                    $(oct).val(octVal);
                    var nov = $(tr).find("input[name$='.HourRatio.Nov']");
                    $(nov).val(novVal);
                    var dev = $(tr).find("input[name$='.HourRatio.Dev']");
                    $(dev).val(devVal);
                });
                $('#editModal').modal("hide");
            });


            $(".check-all").bind("change", function () {
                var isChecked = $(this).prop("checked");
                $("input[type='checkbox']").prop("checked", isChecked);
            });

            $("input[type='checkbox']").bind("change", function () {
                var lastChecked = $("input[type='checkbox']:checked:last");
                if (lastChecked.length == 0) {
                    $("#btnEditHourRatio").attr("disabled", "disabled");
                }
                else {
                    $("#btnEditHourRatio").removeAttr("disabled");
                }
            });
        })

        function BindInputEvent(item,isAllowDot) {
            $(item).bind("keypress", function (event) {
                var val = $(this).val();
                var key = event.key;
                if (!isAllowDot && key == ".") {
                    event.preventDefault();
                }
                if ((key < "0" || key > "9") && key != ".") {
                    event.preventDefault();
                }
                if (val.indexOf(".") >= 0 && key == ".") {
                    event.preventDefault();
                }
                if (val.length == 0 && key == ".") {
                    event.preventDefault();
                }
            }).bind("paste", function (event) {
                var val = undefined;
                if (window.clipboardData && window.clipboardData.getData) {
                    val = win.clipboardData.getData("Text");
                }
                else {
                    val = event.originalEvent.clipboardData.getData("Text");
                }
                var r = /^[0-9]+.?[0-9]*$/
                if (!isAllowDot) {
                    r = /^[0-9]+$/
                }
                if (!r.test(val)) {
                    event.preventDefault();
                }
            }).bind("input", function (event) {
                var val = $(this).val();
                var r = /^[0-9]+.?[0-9]*$/
                if (!isAllowDot) {
                    r = /^[0-9]+$/
                }
                if (val != "" && !r.test(val)) {
                    event.preventDefault();
                }
            });
        }

        function onCompleteSave(result) {
            var data = result.responseJSON;
            if (data.Code == 0) {
                $("#message").html(data.Message);
                $("#message").parent().removeClass("alert-danger");
                $("#message").parent().addClass("alert-success");
                $("#message").parent().css("display", "block");

                var returnUrl = "@Request["ReturnUrl"]";
                setTimeout(function () {
                    location.replace(returnUrl);
                }, 1000);
            }
            else {
                $("#message").html(data.Message);
                $("#message").parent().addClass("alert-danger");
                $("#message").parent().removeClass("alert-success");
                $("#message").parent().css("display", "block");
            }
        }
    </script>
}